[submodule "Engine"]
	path = Engine
	url = https://anthony_corbin@bitbucket.org/anthony_corbin/c-game-engine.git
[submodule "MiddleWare"]
	path = MiddleWare
	url = https://anthony_corbin@bitbucket.org/anthony_corbin/c-game-dev-middleware.git
